<a href="https://colab.research.google.com/github/Beakonhub/tunde-python_playground/blob/main/For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
column_header = ['apps', 'price', 'denomination', 'rating_count', 'rating']
first_row = ['X', 0.5, 'GBP', 6899939, 4.7]
second_row = ['Instagram', 0.0, 'GBP', 7837737, 3.4]
third_row = ['Minecraft', 0.7, 'GBP', 10006745, 4.1]
fourth_row = ['Vampire Survivors', 1.2, 'GBP', 23676544, 4.6]
fiveth_row = ['Balatro', 2.0, 'GBP', 9837773773, 5.0]

In [42]:
app_data = [first_row,second_row,third_row, fourth_row, fiveth_row]

for app in app_data:
    print(app)

['X', 0.5, 'GBP', 6899939, 4.7]
['Instagram', 0.0, 'GBP', 7837737, 3.4]
['Minecraft', 0.7, 'GBP', 10006745, 4.1]
['Vampire Survivors', 1.2, 'GBP', 23676544, 4.6]
['Balatro', 2.0, 'GBP', 9837773773, 5.0]

## Get all the rating_count

In [44]:
for app in app_data:
    rating_count = app[3]
    print(rating_count)

6899939
7837737
10006745
23676544
9837773773

### Get all total ratings
- Initialise rating_sum variable that will hold all total rating
- Loop through through the app_data in thrid row
- calculate the the ratig_sum

In [46]:
rating_sum = 0
for app in app_data:
    rating_count = app[3]
    rating_sum = rating_sum + rating_count
    print(rating_sum)

6899939
14737676
24744421
48420965
9886194738

### Get the average rating app

In [59]:
rating_sum = 0
for app in app_data:
    rating = app[-1]
    rating_sum = rating_sum + rating
average_rating = rating_sum / len(app_data)
print(average_rating)

4.359999999999999

## Open a large dataset - No PANDAS

In [48]:
from csv import reader
opened_file = open('/used_car_listings.csv')
read_file = reader(opened_file)
apps_data = list(read_file)
print(apps_data[:1])
print(apps_data[2:5])

[['listing_id', 'vin', 'make', 'model', 'year', 'trim', 'body_type', 'fuel_type', 'transmission', 'mileage', 'price', 'condition', 'location', 'seller_type', 'features']]
[['2', '1S0ZCY536BSCY2864', 'Nissan', 'Rogue', '2024', 'LT', 'Sedan', 'Hybrid', 'Automatic', '16109', '19480.0', 'good', 'Pughtown, CO, US', 'Dealer', 'Alloy Wheels, Android Auto, Lane Keep Assist, Navigation, Panoramic Roof, Parking Sensors, Push Button Start, Wireless Charging'], ['3', 'YFB625BN0RTMZ5590', 'Hyundai', 'i20', '2018', 'XLE', 'Crossover', 'Petrol', 'Automatic', '173239', '4556.0', 'good', 'Satna, HR, India', 'Dealer', 'Alloy Wheels, Bluetooth, Panoramic Roof, Sunroof'], ['4', 'CPMZ4RFN5WYL37096', 'Kia', 'Sportage', '2023', 'EX', 'Hatchback', 'Diesel', 'CVT', '36810', '11536.0', 'fair', '山武市, Osaka, Japan', 'Certified Pre-Owned', 'Alloy Wheels, Bluetooth, Keyless Entry, Navigation, Sunroof, Wireless Charging']]

### Get the average price - Convert the price(string) into float
- Iterate through the rows of apps_data, skipping the header row.
- The price is at index 10 in the apps_data list
- Calculate the average price, excluding the header row from the count

In [55]:
total_price = 0
for row in apps_data[1:]:
    total_price = total_price + float(row[10])
average_price = total_price / (len(apps_data) - 1)
print(average_price)

9182.621856866537

In [50]:
print(apps_data[:1])

[['listing_id', 'vin', 'make', 'model', 'year', 'trim', 'body_type', 'fuel_type', 'transmission', 'mileage', 'price', 'condition', 'location', 'seller_type', 'features']]

Execute below code by excluding the the header row apps_data[1:]:

In [56]:
total_price = 0
for row in apps_data[1:]:
    total_price = total_price + float(row[10])
average_price = total_price / (len(apps_data) - 1)
print(average_price)

9182.621856866537

Using append() function to add value into the the list.
Usage - list.append(item)

In [58]:
total_price = []
for row in apps_data[1:]:
  price = float(row[10])
  total_price.append(price)

average_price = sum(total_price) / (len(apps_data) -1)
print(average_price)

9182.621856866537